* {
    margin: 0;
    padding: 0;

}
body {
          background:linear-gradient(#e57fc5,#63e9d3,#cd73e9)
    }
.grid-container > div {
    font-size: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.navbar {
    background-color: rgb(190, 51, 141);
    grid-column: 1/11;
    padding: 15px;
    position: relative;
}
.navbar ul {
    border-radius: 30px;
    padding: 5px;
    float: right;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.navbar li {
    padding-inline: 10px;
}
.navbar a {
    font-size: 2.1rem;
    font-family: inria serif;
    font-weight: 300;
    text-decoration: none;
    color: black;
}
#logo {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(11, 11, 10);
    padding: 15px 20px;
    border-radius: 40px;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}
#logo:hover {
    color: black;
}
#menu {
    display: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.image-section {
    grid-column: 1/5;
    text-align: center;
    padding: 3rem 0 2rem 0;
}
.image-section img {
    border-radius: 50%; 
    width: 250px;    
    height: 250px;
    max-width: 250px;
    transition: .3s ease-in-out;
    object-fit: cover;
    padding: 0px;
}
.image-section img:hover {
     transform: rotate(50deg);
      
}
.text-section {
  grid-column: 5/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-family: "Inria Serif", serif;
  font-size: 1.7rem;
  padding-top:0px;
  margin-top: 0px;
}
.text-section .intro {
  font-family: "Inria Serif", serif;
  font-size: 2rem; 
  font-weight: 600;
  color: black;
  margin-bottom: 2rem;
  text-align: center;
  padding-top:0px; 
  text-align: justify;
   padding-left: 80px;
}
.text-section ul li {
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Inria Serif", serif;
  line-height: 2rem;
  text-align: justify;
  padding-top:2px;
  padding-left: 80px;
}
.footer {
    grid-column: 1/11;
    height: 30vh;
}
#responsive-nav {
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    left: 0;
}
#responsive-nav.show {
    display: block;
}
#responsive-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px;
}
#responsive-nav a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-family: 'Inria Serif', serif;
}
#responsive-nav a:hover {
    color: rgb(190, 51, 141);
}
@media screen and (max-width: 800px) {
  .navbar {
    padding: 0px;
  }
  .navbar ul {
    display: none;
  }

  #menu {
    display: block;
    font-size: 50px;
    float: right;
  }

  .navbar a {
    font-size: 1.9rem;
  }

  .image-section {
    grid-column: 1/11;
  }

  .image-section img {
        width: 70%;
    }

  .text-section {
    grid-column: 1/11;
    text-align: center;
    font-size: 1.8rem;
  }
  .text-section .intro {
    padding-top:0px;
    font-size: 2rem;
    text-align: center; 
}
.text-section ul li {

  font-size: 1.6rem;
  text-align: center; 

}
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 15px;
  }
  .navbar ul {
    display: none;
  }
  #menu {
    display: block;
    float: right;
    font-size: 30px;
  }
  .navbar a {
    font-size: 1.8rem;
  }
  .image-section {
    grid-column: 1/11;
  }
  .image-section img {
        width: 70%;
    }
  .text-section {
    grid-column: 1/11;
    text-align: center;
  }
  .text-section li {
    font-size: 1.6rem;
  }
  .text-section .intro {
    font-size: 2rem;
    text-align: center; 
}
.text-section ul li {
  font-size: 21px;
  text-align: center; 
  padding-left: 10px;

}
}
@media screen and (max-width: 400px) {
  .navbar {
    padding: 15px;
  }
  .navbar ul {
    display: none;
  }
  #menu {
    display: block;
    float: right;
    font-size: 30px;
  }
  .navbar a {
    font-size: 1.7rem;
  }
  .image-section img {
        width: 100%;
    }
  .text-section li {
    font-size: 1.10rem;
  }
  .text-section .intro {
    font-size: 2rem;
    text-align: center; 
}
.text-section ul li {
  font-size: 18px;
  text-align: center; 
  padding-left: 2px;

}
}
@media screen and (max-width: 300px) {
  #logo {
    font-size: 2rem;
  }
  #menu {
    display: block;
    float: right;
    font-size: 25px;
  }
  .navbar a {
    font-size: 1.5rem;
  }
  .image-section {
        grid-column: 1/11;
    }
  .image-section img {
    width: 100%;
    }
  .text-section li {
    font-size: 1.1rem;
  }
  .text-section .intro {
    font-size: 2rem;
    text-align: center; 
}
.text-section ul li {
  font-size: 18px;
  text-align: center; 

}
}